body {
  font-family: 'Karla', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, div {
  color: #1d3557;
}

.banner {
  height: 140px;
  left: 0px;
  top: 0px;
  background-color: #457B9D;
  background-size: cover;
}

.home-page-text{
  width: 178px;
  height: 68px;
  left: 126px;
  top: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
}

.grey-background{
  background-color: #f2f2f2;
}

.navbar {
  background-color: #A8DADC;
}

.cursor {
  cursor: pointer;
}

button {
  font-size: 1rem;
  font-weight: 600;
  width: 150px;
  height: 32px;
  color: white;
  border: none;
  opacity: 1;
}

button:hover {
  opacity: .90;
}

.btn-grey:hover{
  opacity: 1;
}

.btn-blue {
  border-radius: 12px;
  background-color: #45789D;
}

.btn-red {
  border-radius: 12px;
  background-color: #E63946;
}

.btn-green {
  border-radius: 12px;
  background-color: #04724D;
}

.btn-grey {
  border-radius: 12px;
  background-color: #9A99A2;
}

.btn-product {
  width: 150px;
  height: 130px;
  left: 25px;
  top: 174px;
  background: #E2CFC4;
  border: 1px solid #B6B6B6;
  border-radius: 32px;
}

.btn-reports {
  width: 150px;
  height: 130px;
  left: 200px;
  top: 174px;
  background: #C9E4DE;
  border: 1px solid #B6B6B6;
  box-sizing: border-box;
  border-radius: 32px;
}

.btn-import-product {
  width: 150px;
  height: 130px;
  left: 25px;
  top: 333px;
  background: #C6DEF1;
  border: 1px solid #B6B6B6;
  box-sizing: border-box;
  border-radius: 32px;
}

.btn-export-product {
  width: 150px;
  height: 130px;
  left: 200px;
  top: 333px;
  background: #F7D9C4;
  border: 1px solid #B6B6B6;
  box-sizing: border-box;
  border-radius: 32px;
}

.btn-gen-pick-list {
  width: 150px;
  height: 130px;
  left: 25px;
  top: 493px;
  background: #FAEDCB;
  border: 1px solid #B6B6B6;
  box-sizing: border-box;
  border-radius: 32px;
}

.btn-po-suggestion {
  width: 150px;
  height: 130px;
  left: 200px;
  top: 493px;
  background: #DBCDF0;
  border: 1px solid #B6B6B6;
  box-sizing: border-box;
  border-radius: 32px;
}

.btn-low-inv{
  width: 311px;
  height: 162.79px;
  left: 32px;
  top: 85px;
  background: #C6DEF1;
  border: 1px solid #B6B6B6;
  box-sizing: border-box;
  border-radius: 33px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #457B9D
}

.btn-category {
  width: 311px;
  height: 162.79px;
  left: 32px;
  top: 273.49px;
  background: #C9E4DE;
  border: 1px solid #B6B6B6;
  box-sizing: border-box;
  border-radius: 33px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #457B9D
}

.btn-coming-soon {
  width: 311px;
  height: 162.79px;
  left: 32px;
  top: 463.21px;
  background: #F7D9C4;
  border: 1px solid #B6B6B6;
  box-sizing: border-box;
  border-radius: 33px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #457B9D
}

.btn-filter{
  width: 90px;
}

.icon-blue{
  color: #1D3557;
}

.icon-white{
  color: #ffffff;
}

.form-drop-down {
  max-width: 30%;
}

.product-drop-down {
  width: 198px;
}

.table-header {
  background-color: #C9E4DE;
  font-size: 12px;
}

.tbody-container {
  font-size: 12px;
}

.filter-drop-down {
  max-width: 80%;
}

.menu {
  top: 0;
  left: 0;
  background-color: #457B9D;
  border-radius: 0px 25px 25px 0px;
  animation: menushow 0.4s ease-in-out;
  box-shadow: #1D3557 2px 1px 4px 1px;
}

@keyframes menushow {
  from { left: -20%; }
  to { left: 0; }
}

.icon-img{
  color: white;
  width: 100px;
  height: 100px;
}
